
/hmt-executor/target/
/hmt-executor/datax-executor.iml
/hmt-core/datax-core.iml
/hmt-core/target/
/hmt-admin/datax-admin.iml
/hmt-admin/target/
/.idea/
/hmt-admin/.idea/
/hmt-registry/datax-registry.iml
/hmt-registry/target/
/hmt-rpc/datax-rpc.iml
/hmt-rpc/target/
/hmt-all.iml
/logs/
*-dev*
/data/
/build/
/packages/
/hmt-assembly/target/


*.iml
*.log
launch.json
settings.json
*.zip
*.sh
*.class
/datax-assembly/target/
/datax-executor/target/
/datax-core/target/
/datax-admin/target/
/datax-rpc/target
/datax-registry/target/