<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wugui.hmt.admin.mapper.KafkaSyncMapper">

    <insert id="save" parameterType="com.wugui.hmt.admin.entity.JobKafkaSync" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO job_kafka_sync (sync_name, reader_json, writer_json, sync_json, project_id)
		values (#{syncName}, #{readerJson}, #{writerJson}, #{syncJson}, #{projectId});
	</insert>

	<update id="update" parameterType="com.wugui.hmt.admin.entity.JobKafkaSync">
        UPDATE job_kafka_sync
        SET sync_name = #{syncName},
        	reader_json = #{readerJson},
        	writer_json = #{writerJson},
        	sync_json = #{syncJson},
        	project_id = #{projectId}
        WHERE id = #{id}
    </update>

	<select id="pageList" parameterType="java.util.HashMap" resultType="com.wugui.hmt.admin.entity.JobKafkaSync">
		SELECT a.*,b.name as projectName FROM job_kafka_sync a left join job_project b on a.project_id = b.id
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="taskName != null and taskName != ''">
				AND a.sync_name like CONCAT(CONCAT('%', #{taskName}), '%')
			</if>
			<if test="projectIds != null and projectIds.length != 0">
				AND a.project_id IN
				<foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
					#{projectId}
				</foreach>
			</if>
		</trim>
		ORDER BY a.id DESC
		LIMIT #{pagesize} offset #{offset}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM job_kafka_sync a left join job_project b on a.project_id = b.id
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="taskName != null and taskName != ''">
				AND a.sync_name like CONCAT(CONCAT('%', #{taskName}), '%')
			</if>
			<if test="projectIds != null and projectIds.length != 0">
				AND a.project_id IN
				<foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
					#{projectId}
				</foreach>
			</if>
		</trim>
	</select>

	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM job_kafka_sync
		WHERE id = #{id}
	</delete>

	<select id="getInfoById" parameterType="java.util.HashMap" resultType="com.wugui.hmt.admin.entity.JobKafkaSync">
		SELECT a.*,b.name as projectName FROM job_kafka_sync a left join job_project b on a.project_id = b.id WHERE a.id = #{id}
	</select>

	<select id="getTaskList" parameterType="java.util.HashMap" resultType="com.wugui.hmt.admin.entity.JobKafkaSync">
		SELECT * FROM job_kafka_sync
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="taskName != null and taskName != ''">
				AND sync_name like CONCAT(CONCAT('%', #{taskName}), '%')
			</if>
			<if test="projectIds != null and projectIds.length != 0">
				AND project_id IN
				<foreach collection="projectIds" item="projectId" index="index" open="(" close=")" separator=",">
					#{projectId}
				</foreach>
			</if>
		</trim>
		ORDER BY id DESC
	</select>

	<delete id="batchDeleteTask" parameterType="java.util.HashMap">
		DELETE
		FROM job_kafka_sync
		WHERE 1=1
		<if test="taskName != null and taskName != ''">
			AND sync_name like CONCAT(CONCAT('%', #{taskName}), '%')
		</if>
		<if test="projectIds != null and projectIds.length != 0">
			AND project_id IN
			<foreach collection="projectIds" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</delete>

</mapper>
